{% extends 'layout.html.twig' %}

{% block head_title %}Myqm | {{ parent() }}{% endblock %}
{% block page_breadcrumb %}
    <span>Home</span>
{% endblock %}
{% block page_title %}<span>Home</span>{% endblock %}
{% block page_subtitle %}<span>List of Cars</span>{% endblock %}

{% block body %}

{% endblock %}
{% block javascripts %}{% endblock %}
